<!DOCTYPE html>
<html>
<head>
	<title>Article Scraper</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">      
</head>
<body>
<header>
	<div class="navbar-fixed">
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#!" class="brand-logo center">Mongo Article Scraper</a>
	      <ul class="left hide-on-med-and-down">
	        <li><a href="/index">Home</a></li>
	        <li><a href="/saved">Saved Articles</a></li>
	        <li class="active"><a href="/scrape">Scrape New Articles</a></li>
	      </ul>
	    </div>
	  </nav>	
	</div>
</header>
<main>
{{{body}}}
</main>
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2017 Patrick Holtzman
            <a class="grey-text text-lighten-4 right" href="#!">GitHub Repo</a>
            </div>
          </div>
        </footer>
</body>
</html>